{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">
  <article class="md:col-span-2 prose lg:prose-lg">
    <div id="content" class="mb-14">
      {{- .Content -}}
      {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}
    </div>

    {{ partial "author-box" (dict "author" site.Data.authors.beat) }}
    {{ partial "author-box" (dict "author" site.Data.authors.ben) }}

  </article>

  <aside class="md:col-span-1">
    {{- partial "content/aside.html" . -}}
  </aside>
</div>
{{ end }}
